<apex:page standardController="Lead" extensions="awvalidation.AWControllerLeadValidation" title="Addressed World Validation"> 
<apex:sectionHeader title="Addressed World Validation" />
<c:AWAdvertFree />
<apex:messages />
    <apex:form >
        <apex:pageBlock title="Validation Results" helpTitle="Help for this page" helpUrl="http://kb.addressedworld.com/guide/record-validation/4471?utm_source=val_for_sfdc&utm_medium=app&utm_campaign=val_for_sfdc" rendered="{!NOT(ValFailed)}">
            <apex:pageBlockTable value="{!TabFieldList}" var="Tab" id="TableLead">
                <apex:column headerValue="Field">{!Tab.FieldLabel}</apex:column>
                <apex:column headerValue="Status">
                    <apex:image value="{!$Resource.awvalidation__warning}" height="16" width="16" rendered="{!IF(Tab.Status == "WARNING",true,false)}"/>
                    <apex:image value="{!$Resource.awvalidation__correct}" height="16" width="16" rendered="{!IF(Tab.Status == "CORRECT",true,false)}"/>
                    <apex:image value="{!$Resource.awvalidation__error}" height="16" width="16" rendered="{!IF(Tab.Status == "INCORRECT",true,false)}"/>
                </apex:column>
                <apex:column headerValue="Original Value">{!Tab.OrgValue}</apex:column>
                <apex:column headerValue="Improved Value"><apex:inputCheckbox value="{!Tab.Selected}" rendered="{!NOT(ISBLANK(Tab.ImpValue))}"/><apex:inputText value="{!Tab.ImpValue}" rendered="{!NOT(ISBLANK(Tab.ImpValue))}"/></apex:column>
                <apex:column headerValue="Status Message">{!Tab.StatusMessage}</apex:column>
            </apex:pageBlockTable>
        <apex:pageBlockButtons >
            <apex:commandButton action="{!cancel}" value="Back to lead"/>
            <apex:commandButton action="{!saveSel}" value="Save Selected Fields" rendered="{!$ObjectType.Lead.Updateable}"/>
        </apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>     
</apex:page>