<apex:page controller="acfLogin" showHeader="false" standardStylesheets="false" cache="false"  >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Features</title>
<link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/js.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>

<script>
 $(document).ready(function ()
    {
        $('.clsMemberLogin').click(function () 
        {
          $('#MemberLoginPopUp').removeClass('displaynone');          
          $('.messageCell').css('display','none');
          $('[id$=member_login_strmsg]').remove();
          $('[id$=current_lender_strmsg]').remove();
          $(".sb-slidebar").removeClass("add-sb-sdbar");
          $(".container-fluid").removeClass("add-body-sdbar");
          //alert($('#MemberLoginPopUp').attr('id'));
          SetPopupLocation();
        });
        $('#divfaded').click(function () 
        {
          $('#MemberLoginPopUp').addClass('displaynone');
          $('#main_Section').addClass('displaynone'); 
          $('#loginformId').removeClass('displaynone');
          $('#forgotpwdPopup').addClass('displaynone'); 
          $('#memLoginId').removeClass('displaynone');
        });
        
        $(window).resize(function(){
                SetPopupLocation();
        });
    });    
    
    function SetPopupLocation()
    {
        //alert($('.setup-box').width());
        //alert($('.header').width());
        var ww =  ($('.header').width() - $('.setup-box').width() - 210) / 2;
        $('.setup-box').css('left', ww + 'px');
    }
    
    function autoCosewindow()
    {
        if($('[id$=hiddenMailsentId]').val() === 'true'){
           window.setTimeout(ClosepopUp, 5000);
        }
    }
    function ClosepopUp() 
    {  
       resetforgotPopup();
       $('#MemberLoginPopUp').addClass('displaynone');
       $('#main_Section').addClass('displaynone'); 
       $('#loginformId').removeClass('displaynone');
       $('#forgotpwdPopup').addClass('displaynone'); 
       $('#memLoginId').removeClass('displaynone'); 
    }
    function showThisSection(id)
    {
       $('#secTalkToHuman').css('display','none');
       $('#'+id).css('display','block');
    }
    
    $(document).ready(function ()
      {
        $('#supportId').click(function () 
        {
          $('#customerSupportPopUp').removeClass('csdisplaynone'); 
        });
        $('.clsmsupport').click(function () 
        {
          $('#customerSupportPopUp').removeClass('csdisplaynone'); 
          $(".sb-slidebar").removeClass("add-sb-sdbar");
          $(".container-fluid").removeClass("add-body-sdbar");
        });
        $('#csdivfaded').click(function () 
        {
          $('#customerSupportPopUp').addClass('csdisplaynone');
          $('#secTalkToHuman').css('display','block');
          $('#secRequestACall').css('display','none');  
        }); 
        
        $('#forgotPwdId').click(function () 
        {
          $('#main_Section').removeClass('displaynone'); 
          $('#loginformId').addClass('displaynone');
          $('#forgotpwdPopup').removeClass('displaynone'); 
          $('#memLoginId').addClass('displaynone');
        }); 
        
        $('.pop-close').click(function () 
        { 
            $('#MemberLoginPopUp').addClass('displaynone');
            $('#customerSupportPopUp').addClass('csdisplaynone');
        }); 
        });
</script>
<style type="text/css">
    .Processing
    {
        position: fixed;
        background-color: white;
        background: url('/img/loading32.gif') no-repeat;
        background-repeat: no-;
        background-position: center;
        z-index: 1000;
        width: 100%;
        height: 100%; 
        z-index: 1004;          
        left: 0%;
        top: 0%;
    }
    @font-face {
        font-family: 'open_sanslight';
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot')}");
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot?#iefix')}") format('embedded-opentype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff2')}") format('woff2'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff')}") format('woff'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.ttf')}") format('truetype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.svg#open_sanslight')}") format('svg');
        font-weight: normal;
        font-style: normal;    
    }
    
    .sprite{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .input-box + ul.bank-list li:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.mcafee:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    .button{
        background:#233972 93% 28px no-repeat;
    }
    .button.getstarted{
        background:#233972 93% 20px no-repeat;
    }
    .work-list .cate-box span.quote:before,
    .work-list .cate-box span.application:before,
    .work-list .cate-box span.disclousure:before,
    .work-list .cate-box span.docs:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    a.viewmore:after,
    a.viewmore-feature:after{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .footer-social a.f-icon background-position: -348px -27px,
    .footer-social a.link-icon,
    .footer-social a.t-icon,
    .footer-social a.u-icon{
        background:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.responsive-menu{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    @media all and (min-width: 320px) and (max-width: 800px){
    .button.getstarted{
        background:#1f8acb 85% 14px no-repeat;
    }
    .button.question{
        background:#1f8acb 85% 14px no-repeat;
    }
   .margin-reqCall {
        margin-left: 0px;
    }
   }
    .baner-colum span.anzbank:before,
    .baner-colum span.westpack:before,
    .baner-colum span.nab:before,
    .baner-colum span.cwb:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .set-up-row  .set-up-box + span{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    p.creat-acount:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .displaynone
    {
        display:none;
    }
    .csdisplaynone{
     display:none;
    }
    .messageCell h4
    {
        display:none;!important
       
    }
    .messageCell
    {
       color:red;!important
        font-weight:10px;!important
        text-align:center;!important
      
    }
    .setup-box
    {
     left:26% !important;
    }
    .margin-reqCall
    {
        margin-left: 17%;
    }
</style>
</head>
<body>

<section class="sb-slidebar">
<a href="#" class="pop-close cls-text">Close<span class="fa fa-close">&nbsp;</span></a>
 <ul class="sub_menu-response">
   <li><a href="#" class="clsmsupport">TALK TO A HUMAN</a></li>
   <li><a href="#" class="clsMemberLogin">SIGN IN</a></li>
   <li><a href="/partners/acfHowItWorks">HOW IT WORKS</a></li>                                
    </ul>
</section>

<main class="container-fluid add-body">

<!--Customer Support Popup start here-->
    <c:acfTalkToHuman ></c:acfTalkToHuman>
<!--Customer support popup ends here -->
<!--Setup Member Login  here----->
   <div id="MemberLoginPopUp" Class="pop-up-form displaynone" >
        <div id="divfaded" class="faded">&nbsp;</div>
        <apex:form id="frmId">
            <apex:inputHidden id="hiddenMailsentId" value="{!mailSent}"/>
            <apex:actionFunction action="{!resetforgotPopup}" name="resetforgotPopup" reRender="optforgotErrors"/>
            <section class="setup-box" id="idSetupBox">
              <a href="#" class="pop-close">Close<span class="fa fa-close">&nbsp;</span></a>
              <hgroup>
                    <h3 class="h3" id="memLoginId">Member Login</h3>
                    <h3 class="h3 displaynone" id="forgotpwdPopup">Forgot Password</h3>
                </hgroup>
                <div class="hr-color">&nbsp;</div>
                <div id ="main_Section" class = "displaynone">
                <!--<apex:outputPanel id="main_Section" styleClass="displaynone"> -->
                      <apex:outputPanel id="optforgotErrors">    
                       <center><apex:pageMessages ></apex:pageMessages>
                       <apex:outputPanel rendered="{!mailsent}" style="color:#1f8acb;font-size: 1.1em;">{!showConfirmMsg}</apex:outputPanel>
                       </center>
                       <!--</apex:outputPanel>    -->               
                       <!--<apex:outputPanel id="mail_section" rendered="{!if(showConfirmMsg != null && showConfirmMsg != '', false,true)}">-->
                        <apex:outputPanel rendered="{!NOT(mailsent)}">
                        <div class="set-up-row">
                          <apex:inputText value="{!strforgotUsername}" styleClass="set-up-box col-md-6  col-sm-10" />
                          <span style="display:none;">&nbsp;</span>
                          <p class="setup-prgph">Please enter your username</p>
                         </div>
                         <div class="set-up-row">
                         <apex:actionstatus id="LoadstatusId" starttext="verifying">
                         <apex:facet name="start">
                         <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" style="position:absolute;left:50px; top:7px;"/>                      
                         </apex:facet>
                         </apex:actionStatus>   
                         <apex:commandLink action="{!ResetPassword}" status="LoadstatusId" styleClass="btn col-md-3 col-md-offset-2 col-sm-12 col-sm-offset-0 stup-btn-mgnbtm" value="Submit" reRender="optforgotErrors,main_Section,hiddenMailsentId" oncomplete="autoCosewindow();"/> 
                         </div> 
                         </apex:outputPanel>  
                       </apex:outputPanel>   
                    <!-- </apex:outputPanel> -->
                    </div>
                   <div id="loginformId">
                    <apex:outputPanel id="optErrors">    
                       <center><apex:pageMessages ></apex:pageMessages>                      
                       </center>
                    </apex:outputPanel>    
                        <div class="set-up-row">                                                                                                    <!-- $Label[strmsg] -->
                        <apex:outputPanel id="member_login_strmsg" rendered="{!if(strmsg != null && strmsg != '', true,false)}" style="color:red;margin-bottom:20px;"><p>{!$Label[strmsg]}</p></apex:outputPanel>
                          <apex:inputText value="{!strusername}" styleClass="set-up-box font-style col-md-6  col-sm-10 focusenter" onBlur="if (this.value == '') {this.value = 'Email ID';}" onFocus="if (this.value == 'Email ID') {this.value = '';}"/>
                          <span style="display:none;">&nbsp;</span>
                          <p class="setup-prgph">Please enter your email ID</p>
                        </div>                  
                        <div class="set-up-row">
                               <apex:inputSecret value="{!strPassword}" redisplay="true"  styleClass="set-up-box col-md-6  col-sm-10 focusenter" onBlur="if (this.value == '') {this.value = 'Password';}" onFocus="if (this.value == 'Password') {this.value = '';}"/>
                           <span style="display:none;">&nbsp;</span>
                           <p class="setup-prgph">Please enter your password</p>                      
                           
                        <div>
                        
                            <a href="#" id="forgotPwdId" class="forgot-pass"> Forgot password</a>
                        </div>
                     </div> 
                      
                    <div class="set-up-row auto">
                     <apex:commandLink action="{!UserLogin}" id="btnLogin" styleClass="btn col-md-12 stup-btn-mgnbtm" value="Login" reRender="optErrors" status="Loadstatus"/> 
                     <apex:actionstatus id="Loadstatus" starttext="verifying">
                      <apex:facet name="start">
                        <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" style="left:20px;"/>                      
                      </apex:facet>
                     </apex:actionStatus>
                    </div> 
                   <div class="clearfix"></div>   
                 </div>                                            
              </section>
         </apex:form>
    </div>
<!-- --------------------------------------------------------------------- -->  
<!-- ================== Header ================================== -->
<header class="row-fluid">
            <div class="header" >
                <div class="container">
                    <div class="row-fluid">
                    <h1 class="col-md-4"> <!-- new: col-md-4, old:col-xs-4 -->
                        <div class="logo"><a href="/partners/acflogin"><img src="{!URLFOR($Resource.acfResources, 'acfResources/images/logo.jpg')}" alt="click Refi"/></a></div>
                    </h1>
                    
                  <section class="col-md-8">
                      <!--  <div class="top-login">
                            <a href="#" id="MemberLogin" class="member-login clsMemberLogin sign_in">SIGN IN</a>
                        </div><!--top right close-->
                           <div class="clearfix"></div>
                   <aside>
                        <a href="#" class="responsive-menu" id="responsive">&nbsp;</a>
                            <!-- For Mobile responsive -->

                        <div class="top-tab  id-verification">
                            <!-- For desktop and laptop -->
                            <ul>
                                <li><a href="#" id="supportId">TALK TO A HUMAN</a></li>
                                <li><a href="/partners/acfHowItWorks">HOW IT WORKS</a></li>
                                <li><a href="#" id="MemberLogin" class="member-login clsMemberLogin sign_in">SIGN IN</a></li>
                            </ul>
                        </div><!--top-tab close-->
                    </aside> <!--aside clos-->    
                 </section><!--col-md-8 close-->
                    
                </div><!--row fluid close 2nd-->
                </div><!--container close-->
            </div><!--header close-->
        </header><!--row fluid close-->
<!-- ================== /Header ================================== -->
<apex:form >
<section class="row-fluid how-work">
    <div class="container">   
    <div class="row-fluid">
    <div class="border-dash feature-dash">&nbsp;</div>     
        <hgroup class="feature-heading">
            <h3>Features</h3>
            <h4>{!lst_sctn_features[0].acfHeading_Caption__c}</h4>
        </hgroup>
        <section class="work-list">
            
            <article class="col-md-4 col-sm-12">
                
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                    <apex:outputPanel rendered="{! IF(lst_fetu.acfSequence__c==1, true, false)}">
                        <a href="/partners/acfFeatures?#{!lst_fetu.acfHeadingRemoveSpace__c}"  class="work-img">    <!-- target="_blank" -->
                            <apex:image rendered="{!if(lst_fetu.acfSequence__c==1, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==1, lst_fetu.acfImageURL__c, null)}" alt="Qoute" title="Qoute"/>
                        </a>
                    </apex:outputPanel>
                </apex:repeat>
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                    <a href="/partners/acfFeatures?#{!lst_fetu.acfHeadingRemoveSpace__c}">
                        <h4 class="h4"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==1, true,false)}" value="{!if(lst_fetu.acfSequence__c==1, lst_fetu.acfHeading__c, null)}"/>  </h4>
                        <h5 class="h5">{!if(lst_fetu.acfSequence__c==1, lst_fetu.acfShort_Description__c, null)}</h5> 
                    </a>
                </apex:repeat>
            </article>
            
            <article class="col-md-4 col-sm-12">
                                
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                    <apex:outputPanel rendered="{! IF(lst_fetu.acfSequence__c==2, true, false)}">
                        <a href="/partners/acfFeatures?#{!lst_fetu.acfHeadingRemoveSpace__c}"  class="work-img">    <!-- target="_blank" -->
                            <apex:image rendered="{!if(lst_fetu.acfSequence__c==2, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==2, lst_fetu.acfImageURL__c, null)}" alt="Qoute" title="Qoute"/>
                        </a>
                    </apex:outputPanel>
                </apex:repeat>
                <a href="#">
                    <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                        <h4 class="h4"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==2, true,false)}" value="{!if(lst_fetu.acfSequence__c==2, lst_fetu.acfHeading__c, null)}"/>  </h4>
                        <h5 class="h5">{!if(lst_fetu.acfSequence__c==2, lst_fetu.acfShort_Description__c, null)}</h5>
                    </apex:repeat>
                </a>
            </article>
            
            <article class="col-md-4 col-sm-12">
                
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                    <apex:outputPanel rendered="{! IF(lst_fetu.acfSequence__c==3, true, false)}">
                        <a href="/partners/acfFeatures?#{!lst_fetu.acfHeadingRemoveSpace__c}"  class="work-img">    <!-- target="_blank" -->
                            <apex:image rendered="{!if(lst_fetu.acfSequence__c==3, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==3, lst_fetu.acfImageURL__c, null)}" alt="Qoute" title="Qoute"/>
                        </a>
                    </apex:outputPanel>
                </apex:repeat>
                
                <a href="#">
                    <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                        <h4 class="h4"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==3, true,false)}" value="{!if(lst_fetu.acfSequence__c==3, lst_fetu.acfHeading__c, null)}"/>  </h4>
                         <h5 class="h5">{!if(lst_fetu.acfSequence__c==3, lst_fetu.acfShort_Description__c, null)}</h5> 
                    </apex:repeat>
                </a>
            </article>
        </section><!--section close-->
        </div><!--row fluid close-->
    </div><!--container close-->    
</section><!--secton how work close-->

<!---Feature section start here-------->
<section class="row-fluid feature">
    
    <div class="container">
    <div class="row-fluid">        
   
        <!-- =========== New Code =========== -->
        <apex:variable var="i" value="{!1}"/> 
        <apex:variable var="j" value="{!1}"/> 
        <apex:repeat value="{!lst_sctn_features}" var="lst_fetu" >
            
            <apex:outputPanel rendered="{! IF((mod(i,2)) == 0, true, false)}">            
                <section class="col-md-12 col-sm-12"> <!-- col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2 --> 
                    <div class="row-fluid">
                                                                     
                        <header class="col-md-2 col-md-offset-10 col-sm-12 col-sm-offset-0 f-heading" id="{!lst_fetu.acfHeadingRemoveSpace__c}"> <!-- col-xs-12 f-heading -->
                            <apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==j, true,false)}" value="{!if(lst_fetu.acfSequence__c==j, lst_fetu.acfHeading__c, '')}" />
                        </header>
                                 
                        <aside class="col-md-2 col-sm-12 col-md-push-10 col-sm-push-0 f-img">    <!-- col-md-2 col-sm-12 col-md-2 col-md-push-7 col-sm-push-0 col-md-push-7 f-img -->
                            <apex:image rendered="{!if(lst_fetu.acfSequence__c==j, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==j, lst_fetu.acfDescriptionImageURL__c, '')}" alt="Savings" title="Savings"/>
                        </aside>
                                    
                        <article class="col-md-10 col-sm-12 col-md-pull-2 col-sm-pull-0">    <!-- col-md-7 col-sm-12 col-md-7 col-md-pull-2 col-sm-push-0 col-md-pull-2 -->
                            <p class="f-article"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==j, true,false)}" value="{!if(lst_fetu.acfSequence__c==j, lst_fetu.acfDescription__c, '')}" /></p>
                            <!-- <a href="#" class="viewmore-feature">More</a> -->
                        </article>
                    </div>           
                </section>
                <apex:variable var="j" value="{!j+1}"/>
            </apex:outputPanel>
            
            
            <apex:outputPanel rendered="{! IF((mod(i,2)) == 1, true, false) }">
                <section class="col-md-12 col-sm-12">    <!-- col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2  -->
                    <div class="row-fluid">
                                  
                        <header class="col-md-12 f-heading" id="{!lst_fetu.acfHeadingRemoveSpace__c}">    <!-- col-xs-12 f-heading -->
                             <apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==j, true,false)}" value="{!if(lst_fetu.acfSequence__c==j, lst_fetu.acfHeading__c, '')}" />                   
                        </header>
                                 
                        <aside class="col-md-2 col-sm-12 f-img">                
                             <apex:image rendered="{!if(lst_fetu.acfSequence__c==j, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==j, lst_fetu.acfDescriptionImageURL__c, '')}" alt="Hassle" title="Hassle"/>
                        </aside>
                                  
                        <article class="col-md-10 col-sm-12">    <!-- col-md-7 col-sm-12 col-md-7 -->
                             <p class="f-article"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==j, true,false)}" value="{!if(lst_fetu.acfSequence__c==j, lst_fetu.acfDescription__c, '')}" /></p>
                             <!-- <a href="#" class="viewmore-feature">More</a> -->
                        </article>
                    </div>
                </section>
                <apex:variable var="j" value="{!j+1}"/>
            </apex:outputPanel> 
            <apex:variable var="i" value="{!i+1}"/>       
        </apex:repeat>
        <!-- =========== New Code =========== -->
        </div><!--fow-fluid close-->
    </div> <!--container close-->
</section><!--row-fluid close here-->

<!-----Question section started here----------->
<section class=" row-fluid ques-sec">
        <hgroup class="ques-heading">
            <h3>{!Refinance_loan.acfShort_Description__c}</h3>
            <apex:CommandLink styleclass="button question" style="url('')" action="{!getStartedLast}" value="get Started"  immediate="true"/>
            <!-- <a href="#" class="button question">get started</a> -->
        </hgroup>
</section>

<!---Footer start here--------------->
<footer class="footer row-fluid">
    <div class="container">
  <c:acfFooterLinks ></c:acfFooterLinks>
  <div class="row-fluid">
    <article class="col-md-9 col-sm-12  col-md-9">
    <div class="row-fluid foot-article">
        <apex:outputText escape="false" value="{!cms_obj.acfDescription__c}" />
    </div>
    </article>
    <aside class="col-md-3 col-sm-12 col-md-3">
        <div class="mcafe-sec">
            <p>Online Security: Protect Against Fraud</p>
            <a href="#" class="mcafee">&nbsp;</a>
        </div>
    </aside><!--aside close-->
  </div><!--row fluid close-->
  
    </div><!--container close-->
</footer><!--footer close-->
</apex:form>
</main><!--main div close-->
</body>
</html>

</apex:page>