<apex:page showHeader="false" controller="acfFeedDashboard" cache="false"  standardStylesheets="false"> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Feed Dashboard</title>
<link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/js.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>

<style type="text/css">
    @font-face {
        font-family: 'open_sanslight';
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot')}");
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot?#iefix')}") format('embedded-opentype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff2')}") format('woff2'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff')}") format('woff'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.ttf')}") format('truetype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.svg#open_sanslight')}") format('svg');
        font-weight: normal;
        font-style: normal;    
    }
    
    .sprite{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .input-box + ul.bank-list li:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.mcafee:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    .button{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/airow.png')}") 93% 28px no-repeat;
    }
    .button.getstarted{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/airow.png')}") 93% 20px no-repeat;
    }
    .work-list .cate-box span.quote:before,
    .work-list .cate-box span.application:before,
    .work-list .cate-box span.disclousure:before,
    .work-list .cate-box span.docs:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    a.viewmore:after,
    a.viewmore-feature:after{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .footer-social a.f-icon,
    .footer-social a.link-icon,
    .footer-social a.t-icon,
    .footer-social a.u-icon{
        background:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.responsive-menu{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .button.getstarted{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/response-airow.png')}") 85% 14px no-repeat;
    }
    .button.question{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/response-airow.png')}") 85% 14px no-repeat;
    }
    .baner-colum span.anzbank:before,
    .baner-colum span.westpack:before,
    .baner-colum span.nab:before,
    .baner-colum span.cwb:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .set-up-row  .set-up-box + span{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    p.creat-acount:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    
    
    .publishercontainer,.comboMenu
    {
        display:none;
    }
    /***************for feed section by Danish********************/
.cxallfeedactions .feeditemActionMenu{display:none;}
.container{background:transparent;}
.feedcontainer .feeditem{
border: 1px #e6e5e5 solid;
height: auto;
display: inline-block;
width: 100%;
padding: 15px 10px 10px 10px;
min-height: inherit;
font-size:18px;
font-family: 'open_sanslight';
margin-top:15px;
}
.feedcontainer{
max-width:100%;
}
.feeditem .feeditemfirstentity,
.feeditemcommentbody .feedcommentuser{
font-size: 0.85em;
color: #666666;
display: inline-block;
vertical-align: top;
font-weight: bold;
}
.feeditemcommentbody .feedcommentuser{display:block;}
.feeditem a.actorentitylink,
.chatterUserGuestBadge{
font-size: 0.9em;
color: #666666!important;
vertical-align: top;
font-weight: bold;
}
.chatterUserGuestBadge{
font-weight: bold;
color: #999!important;
}
.feeditemtext.cxfeeditemtext,
.feedcommenttext{
font-size: 0.7em;
font-family: 'open_sanslight';
color: #999;
}
.feedcontainer a,
.feeditemtimestamp{
font-family: 'open_sanslight';
color: #999999;
font-size: 0.8em;
padding-top:0px;
padding-right:0px;
}

.feedcontainer .feeditemcontent{
display: inline-block;
margin-left: 15px;
width:84%;
}
.feedcontainer .feeditem .preamblecontainer{
line-height:10px;
}
.book-appoint, .refiance{font-size:16px;}
.feedcontainer .feeditemusericon{
width:82px;
height:82px;
}
.chatter-avatarRegular .chatter-photo{
width:100%;
height:100%;
}
.feedcontainer .feeditemcomment{
border: 1px #e6e5e5 solid;
margin-bottom: 10px;
}
.feedcontainer .feeditemcommentnew .newcommentbutton{
width: auto!important;
border-radius: 5px;
border: 2px #bee5fd solid!important;
padding: 5px 15px;
display: inline-block;
float: right;
margin-top: 10px;
background-color:#fff;
margin-right:0px;
color:#48a8e3!important;
}
.top-login a.member-login{
font-size: 1.2em;
}
.top-tab ul li a{
font-size: 1.2em;
}

/************changes in stylesheet here***************/
.dashboard{font-size:16px;}
.dashboard-heading{display:block;}
ul.dash-steps li{margin:inherit;}
.dash-btn{background:transparent;background-color:#233972;}
@media all and (min-width: 320px) and (max-width: 800px){
ul.dash-steps li{margin:initial;}
}

.feedTrackedChangePreambleMessage{
display: block;
font-family: "open_sanslight";
color: #999;
font-size: 0.7em;
margin-top: 12px;
}
.cxcontentcommentaction
{
    display:none;
}
</style>
</head>

<body>
<c:acfHeadermobileMenu ></c:acfHeadermobileMenu>
<main class="container-fluid add-body">
<header class="row-fluid">
<c:acfHeader />
</header >

<div class="clearfix"></div>

<section class="dashboard">
    <div class="container">
    <c:acfAccountDetail />        <!-- Account Detail Component -->
      <c:acfProgressBarAndTabs />      <!-- Progress Bar Component -->
        
        <section class="tabing-content">
            <article class="col-md-8 col-sm-12">
            
                <hgroup class="book-appoint">
                    <h3>Recent Activity</h3>
                </hgroup>
                
                <!--<blockquote class="recent-activity">
                    <aside class="col-md-2 col-sm-12">
                        <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/logo.jpg')}" class="recentimg-outline" alt="click Refi" />
                        
                    </aside>    
                    <article class="col-md-10 col-sm-12 recent-article">
                     <section class="row-fluid">
                      <div class="col-md-9 col-sm-12">
                        <hgroup>
                            <h4>Click Refi</h4>
                            <h5>assigned Valentin Saportas as Mortgage Expert</h5>
                        </hgroup>
                        <div class="clearfix"></div>
                        <figure class="recent-sms-blog">
                            <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/p-img2.jpg')}" alt="img" />
                            
                            <figcaption class="rec-sms-caption"> Test body <a href="#">more</a></figcaption>
                        </figure>
                        <div class="clearfix"></div>
                        <ul class="rec-coment">
                            <li>Comment</li>
                            <li>2hour ago</li>
                        </ul>
                      </div>
                     </section>
                  </article>
                </blockquote>-->
                
                <chatter:feed entityId="{!user_obj.accountID}"/>
            
            </article><!--article left close-->
                <c:acfSendMessage ></c:acfSendMessage> 
         </section><!--tabing content close-->   
        <div class="clearfix"></div>                  
         <c:acfPostQuestion ></c:acfPostQuestion>       
       <!-- <section class="frequently-ask row-fluid">If you have any questions, you can always talk with your mortgage expert<a href="#" class="btn faq-btn">Ask A Question</a></section>  -->                
    </div><!--contaienr close-->
</section><!--dashboard here-->
<div class="clearfix"></div>

<!---Footer start here--------------->
<footer class="inner-footer row-fluid">
    <c:acfFooter />    
</footer>
<!--Footer close here----------->

</main><!--main div close-->
</body>
</html>

</apex:page>