<apex:page showHeader="false" standardStylesheets="false" cache="false" controller="acfCustomerRegisterController">
<apex:form >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Landing page</title>
<link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/js.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>
<script type="text/javascript" src="{!$Resource.TypeheadAutocomplete}" />
<script>
 $(document).ready(function ()
    {
        $('#MemberLogin').click(function () 
        {
          $('#MemberLoginPopUp').removeClass('displaynone');
        });
        $('#divfaded').click(function () 
        {
          $('#MemberLoginPopUp').addClass('displaynone');
        });
    });
</script>
<style type="text/css">
    .Processing
    {
        position: fixed;
        background-color: white;
        background: url('/img/loading32.gif') no-repeat;
        background-repeat: no-;
        background-position: center;
        z-index: 1000;
        width: 100%;
        height: 100%; 
        z-index: 1004;          
        left: 0%;
        top: 0%;
    }
    @font-face {
        font-family: 'open_sanslight';
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot')}");
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot?#iefix')}") format('embedded-opentype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff2')}") format('woff2'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff')}") format('woff'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.ttf')}") format('truetype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.svg#open_sanslight')}") format('svg');
        font-weight: normal;
        font-style: normal;    
    }
    
    .sprite{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .input-box + ul.bank-list li:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.mcafee:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    .button{
        background:#233972 url("{!URLFOR($Resource.acfResources, 'acfResources/images/airow.png')}") 93% 28px no-repeat;
    }
    .button.getstarted{
        background:#233972 url("{!URLFOR($Resource.acfResources, 'acfResources/images/airow.png')}") 93% 20px no-repeat;
    }
    .work-list .cate-box span.quote:before,
    .work-list .cate-box span.application:before,
    .work-list .cate-box span.disclousure:before,
    .work-list .cate-box span.docs:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    a.viewmore:after,
    a.viewmore-feature:after{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .footer-social a.f-icon background-position: -348px -27px;,
    .footer-social a.link-icon,
    .footer-social a.t-icon,
    .footer-social a.u-icon{
        background:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.responsive-menu{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    @media all and (min-width: 320px) and (max-width: 800px){
    .button.getstarted{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/response-airow.png')}") 85% 14px no-repeat;
    }
    .button.question{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/response-airow.png')}") 85% 14px no-repeat;
    }
    }
    .baner-colum span.anzbank:before,
    .baner-colum span.westpack:before,
    .baner-colum span.nab:before,
    .baner-colum span.cwb:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .set-up-row  .set-up-box + span{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    p.creat-acount:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .displaynone
    {
        display:none;
    }
    .messageCell h4
    {
        display:none;!important
       
    }
    .messageCell
    {
       color:red;!important
        font-weight:10px;!important
        text-align:center;!important
      
    }
    .setup-box
    {
     left:26% !important;
    }
</style>

</head>
<body>
<main class="container-fluid">
<!--Setup Account Start here----->
   <div id="MemberLoginPopUp" Class="pop-up-form displaynone" >
        <div id="divfaded" class="faded">&nbsp;</div>
        <section class="setup-box">
          <center> <br/><hgroup>
                <h3 class="h3">Member Login</h3>
                <h4 class="h4"></h4>
            </hgroup> </center> 
            <div class="hr-color">&nbsp;</div>
                <apex:outputPanel id="optErrors">    
                    <center><apex:pageMessages ></apex:pageMessages></center>
                </apex:outputPanel>    
                    <div class="set-up-row">
                    <apex:outputPanel rendered="{!if(strmsg != null && strmsg != '', true,false)}" style="color:red;margin-bottom:20px;"><p>{!$Label[strmsg]}</p></apex:outputPanel>
                    <!--  <input type="email" name="user" class="set-up-box col-md-6  col-sm-10" value="enter your username" onBlur="if (this.value == '') {this.value = 'enter your e-mail';}" onFocus="if (this.value == 'enter your e-mail') {this.value = '';}"/>-->
                      <apex:inputText value="{!strusername}" styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'enter your e-mail';}" onFocus="if (this.value == 'enter your e-mail') {this.value = '';}"/>
                      <span style="display:none;">&nbsp;</span>
                      <p class="setup-prgph">Please enter username</p>
                    </div>                  
                    <div class="set-up-row">
                   <!-- <input type="text" name="account" class="set-up-box col-md-6  col-sm-10" value="mobile number" onBlur="if (this.value == '') {this.value = 'mobile number';}" onFocus="if (this.value == 'mobile number') {this.value = '';}"/>-->
                       <apex:inputSecret value="{!strPassword}"  styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'password';}" onFocus="if (this.value == 'password') {this.value = '';}"/>
                      <span style="display:none;">&nbsp;</span>
                       <p class="setup-prgph">Please enter password</p>                      
                       
                       <div>
                         <a href="#" style="color:#223972;font-size:12px;"> Forgot password</a>
                       </div>
                 </div>  
                <div class="set-up-row auto">
                 <apex:commandLink action="{!UserLogin}" styleClass="btn-question comp-fl-right" value="Login" reRender="optErrors"/> 
                </div> 
               <div class="clearfix"></div>                                                       
          </section>
    </div>
<!-- --------------------------------------------------------------------- -->  
<!--Setup Account close here----->
   <header class="row-fluid">
        <div class="header" >
            <div class="container">
                <div class="row-fluid">
                <h1 class="col-md-4"> <!-- new: col-md-4, old:col-xs-4 -->
                    <div class="logo"><a href="#"><img src="{!URLFOR($Resource.acfResources, 'acfResources/images/logo.jpg')}" alt="click Refi"/></a></div>
                </h1>
                
              <section class="col-md-8">
                <div class="top-login">
                    <a href="#" class="member-login"><span class="sprite mmlogin">&nbsp;</span>Member Login</a>                
                    <a href="#" class="member-login"><span class="sprite editlogin">&nbsp;</span>Edit Profile</a>
                    <a href="#" class="member-login">Log out</a>
                </div><!--top right close-->
                   <div class="clearfix"></div>
           <aside>
                <a href="#" class="responsive-menu" id="responsive">&nbsp;</a>
                    <ul class="sub-response" id="sub-res">
                        <li><a href="#">1300 CLICK REFI <span class="span-text">Talk to a Human</span></a></li>
                        <li><a href="#">HOW IT WORKS</a></li>
                    </ul>
                            
                <div class="top-tab">
                    <ul>
                        <li><a href="#">1300 CLICK REFI <span class="span-text">Talk to a Human</span></a></li>
                        <li><a href="#">HOW IT WORKS</a></li>
                    </ul>
                </div><!--top-tab close-->
            </aside> <!--aside clos-->    
           </section>  
            </div><!--row fluid close 2nd-->
            </div><!--container close-->
        </div><!--header close-->
    </header><!--row fluid close-->
<section class="row-fluid slider">
    
    <div class="container">
        <div class="row-fluid">
        <div class="col-xs-7 col-sm-12 col-md-7 slide-img">
            <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/slide-img.png')}" alt="Click Refi"/>
        </div><!--colum 5 image section close-->
        
          <div class="col-xs-5 col-sm-12 col-md-5">
            <article class="row-fluid">
                <h2 class="slide-heading">Refinance your loan. All Online.</h2>
                <p class="slide-peregraph">To swap out your old loan with a more favorable loan. The new loan pays off the old loan, so you just make payments  on the newer (presumably better) loan. </p>
            </article>
            <aside class="row-fluid lend-autocomplete">
            <form method="post" action="#">
                    <span style="color:red;">{!strMsg}</span>
                     
                    <apex:inputText styleClass="input-box large" id="textId" value="{!strBankName}" onblur="if (this.value == '') {this.value = 'Current Lendel';}" onFocus="if (this.value == 'Current Lendel') {this.value = '';}"/>
                   <ul class="bank-list">  
                 
                    <apex:repeat value="{!lstbank}" var="obj1">
                       <li  value="{!obj1.acfBank_Name__c}"><span class="bank-img"><img src="{!$Label.acfSite_Url}{!obj1.acfImage_URL__c}"/></span><span class="BnkOpt">{!obj1.acfBank_Name__c}</span></li>
                    </apex:repeat>
                  
                   </ul>
                  
              <script>
                      $(document).ready(function(){
                           $('.BnkOpt').mouseenter(function() {                       
                                  var obj = $(this).context;
                                  $('input[id$=textId]').val(obj.innerText) ;
                          });
                      });
              </script>
                      <apex:commandButton value="get started" styleclass=" button getstarted" action="{!getStarted}" status="myStatus"/>
                      <apex:actionStatus id="myStatus">
                        <apex:facet name="start">
                            <img src="/img/loading32.gif" style="width: 15px; height: 15px;z-index: 1007;margin-left: 5px;"></img>
                        </apex:facet>
                    </apex:actionStatus>
            </form>      
            </aside><!--aside close-->
            <div class="clearfix"></div>
            <div class="row-fluid">
                <p><a href="#" class="mcafee">&nbsp;</a></p> 
            </div>
        </div><!--colxs-7 close-->
        </div>
     </div><!--container close-->
 </section><!--slider section close-->
<section class="row-fluid how-work">
    <div class="container">   
    <div class="row-fluid">
    <div class="border-dash">&nbsp;</div>     
    <hgroup class="how-work-heading">
            <h3>How it Works</h3>
            <h4>just 30 minutes to finish</h4>
        </hgroup>
        <section class="work-list">
            <article class="col-md-3 col-sm-12">
                <a href="#" class="work-img">
                    <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                        <apex:image rendered="{!if(lst_hw.acfSequence__c==1, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_hw.acfSequence__c==1, lst_hw.acfImageURL__c, null)}" alt="Qoute" title="Qoute"/>
                    </apex:repeat>
                    <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/quote-img.png')}" alt="Qoute" title="Qoute"/>-->
                    <!--<img src="images/quote-img.png" alt="Qoute" title="Qoute"/>-->
               </a>
               <a href="#">
                <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                 <h4 class="h4"><apex:outputLabel rendered="{!if(lst_hw.acfSequence__c==1, true,false)}" value="I. {!if(lst_hw.acfSequence__c==1, lst_hw.acfHeading__c, null)}"/>  </h4>
                 <h5 class="h5">{!if(lst_hw.acfSequence__c==1, lst_hw.acfDescription__c, null)}</h5>
                </apex:repeat>
               </a>
            </article>
            
            <article class="col-md-3 col-sm-12">
                <a href="#" class="work-img">
                    <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                        <apex:image rendered="{!if(lst_hw.acfSequence__c==2, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_hw.acfSequence__c==2, lst_hw.acfImageURL__c, null)}" alt="Application" title="Application"/>
                    </apex:repeat>
                    <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/application-img.png')}" alt="Application" title="Application"/>-->
                    <!--<img src="images/application-img.png" alt="Application" title="Application"/>-->
               </a>
               <a href="#">
                 <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                  <h4 class="h4"><apex:outputLabel rendered="{!if(lst_hw.acfSequence__c==2, true,false)}" value="II. {!if(lst_hw.acfSequence__c==2, lst_hw.acfHeading__c, null)}"/>  </h4>
                  <h5 class="h5">{!if(lst_hw.acfSequence__c==2, lst_hw.acfDescription__c, null)}</h5>
                 </apex:repeat>
               </a>
            </article>
            
            <article class="col-md-3 col-sm-12">
                <a href="#" class="work-img">
                    <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                        <apex:image rendered="{!if(lst_hw.acfSequence__c==3, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_hw.acfSequence__c==3, lst_hw.acfImageURL__c, null)}" alt="Disclosures" title="Disclosures"/>
                    </apex:repeat>
                    <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/disclousre-img.png')}" alt="Disclosures" title="Disclosures"/>-->
                    <!--<img src="images/disclousre-img.png" alt="Disclosures" title="Disclosures"/>-->
               </a>
               <a href="#">
                 <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                  <h4 class="h4"><apex:outputLabel rendered="{!if(lst_hw.acfSequence__c==3, true,false)}" value="III. {!if(lst_hw.acfSequence__c==3, lst_hw.acfHeading__c, null)}" /></h4>
                  <h5 class="h5">{!if(lst_hw.acfSequence__c==3, lst_hw.acfDescription__c, null)}</h5>
                 </apex:repeat>
               </a>
            </article>  
            
            <article class="col-md-3 col-sm-12">
                <a href="#" class="work-img">
                    <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                        <apex:image rendered="{!if(lst_hw.acfSequence__c==4, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_hw.acfSequence__c==4, lst_hw.acfImageURL__c, null)}" alt="Docs" title="Docs"/>
                    </apex:repeat>
                    <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/docs.png')}" alt="Docs" title="Docs"/>-->
                    <!--<img src="images/docs.png" alt="Docs" title="Docs"/>-->
               </a>
               <a href="#">
                 <apex:repeat value="{!lst_sctn_hw}" var="lst_hw">
                  <h4 class="h4"><apex:outputLabel rendered="{!if(lst_hw.acfSequence__c==4, true,false)}" value="IV. {!if(lst_hw.acfSequence__c==4, lst_hw.acfHeading__c, null)}"></apex:outputLabel>  </h4>
                  <h5 class="h5">{!if(lst_hw.acfSequence__c==4, lst_hw.acfDescription__c, null)}</h5>
                 </apex:repeat>
               </a>  
            </article>
            <div class="clearfix"></div>                          
            <footer><a href="#" class="viewmore">view timeline</a></footer>
        </section><!--section close-->
        </div><!--row fluid close-->
    </div><!--container close-->    
</section><!--secton how work close-->
<!---Feature section start here-------->
<section class="row-fluid feature">
    
    <div class="container">
    <div class="row-fluid">
        <hgroup class="feature-heading">
            <h3>Features</h3>
            <h4>advantages for you</h4>
        </hgroup>
        
        <section class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2">
          <div class="row-fluid">            
            <header class="col-xs-12 f-heading">
               <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                  <apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==1, true,false)}" value="{!if(lst_fetu.acfSequence__c==1, lst_fetu.acfHeading__c, '')}" />
               </apex:repeat>
            </header>
            
            <aside class="col-md-2 col-sm-12 col-md-2 f-img">
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                   <apex:image rendered="{!if(lst_fetu.acfSequence__c==1, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==1, lst_fetu.acfImageURL__c, '')}" alt="Rates" title="Rates"/>
                </apex:repeat>
            </aside><!--left panel close-->
            
            <article class="col-md-7 col-sm-12 col-md-7">
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                   <p class="f-article"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==1, true,false)}" value="{!if(lst_fetu.acfSequence__c==1, lst_fetu.acfDescription__c, '')}" /></p>
                </apex:repeat>
                <!--<p class="f-article">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
                <a href="#" class="viewmore-feature">More</a>
            </article>
            </div>
        </section><!--article close-->
        
        <section class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2"> 
          <div class="row-fluid">
            
              <header class="col-xs-12 f-heading">
                 <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                  <apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==2, true,false)}" value="{!if(lst_fetu.acfSequence__c==2, lst_fetu.acfHeading__c, '')}" />
                 </apex:repeat>      
              </header>
            
            <aside class="col-md-2 col-sm-12 col-md-2 col-md-push-7 col-sm-push-0 col-md-push-7 f-img">
             <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                <apex:image rendered="{!if(lst_fetu.acfSequence__c==2, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==2, lst_fetu.acfImageURL__c, '')}" alt="Savings" title="Savings"/>
             </apex:repeat>
            </aside><!--left panel close-->             
            
            <article class="col-md-7 col-sm-12 col-md-7 col-md-pull-2 col-sm-push-0 col-md-pull-2">
                <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">   
                    <p class="f-article"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==2, true,false)}" value="{!if(lst_fetu.acfSequence__c==2, lst_fetu.acfDescription__c, '')}" /></p>
                </apex:repeat>
                <a href="#" class="viewmore-feature">More</a>
            </article>
            </div>           
        </section><!--article close-->  
        
        <section class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2">
          <div class="row-fluid">
            <header class="col-xs-12 f-heading">
               <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                 <apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==3, true,false)}" value="{!if(lst_fetu.acfSequence__c==3, lst_fetu.acfHeading__c, '')}" />
               </apex:repeat>
            </header>
            <aside class="col-md-2 col-sm-12 col-md-2 f-img">
               <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                 <apex:image rendered="{!if(lst_fetu.acfSequence__c==3, true,false)}" value="{!$Label.acfSite_Url}{!if(lst_fetu.acfSequence__c==3, lst_fetu.acfImageURL__c, '')}" alt="Hassle" title="Hassle"/>
               </apex:repeat>
            </aside><!--left panel close-->
            
            <article class="col-md-7 col-sm-12 col-md-7">
               <apex:repeat value="{!lst_sctn_features}" var="lst_fetu">
                 <p class="f-article"><apex:outputLabel rendered="{!if(lst_fetu.acfSequence__c==3, true,false)}" value="{!if(lst_fetu.acfSequence__c==3, lst_fetu.acfDescription__c, '')}" /></p>
               </apex:repeat>
               <a href="#" class="viewmore-feature">More</a>
            </article>
          </div>
        </section><!--article close-->
        </div><!--fow-fluid close-->
    </div> <!--container close-->
</section><!--row-fluid close here-->

<!-----Question section started here----------->
<section class=" row-fluid ques-sec">
        <hgroup class="ques-heading">
            <h3>8 Questions. 30 Seconds</h3>
            <a href="#" class="button question" style="url('')">get started</a>
        </hgroup>
</section>

<!---Footer start here--------------->
<footer class="footer row-fluid">
    <div class="container">
        <div class="row-fluid">
            <section class="footer-nav">
                <h5>Our Loan</h5>
                <a href="#">How it works</a>
                <a href="#">Costs</a>
                <a href="#">Testimonials</a>
                <a href="#">Nimble VISA Prepaid Card</a>
                <a href="#">Apply now</a>
            </section>
            
            <section class="footer-nav">
                <h5>HELP</h5>
                <a href="#">FAQ</a>
                <a href="#">Costs</a>
                <a href="#">Contact us</a>
                <a href="#">Security</a>
            </section>
            
            <section class="footer-nav">
                <h5>LEGAL</h5>
                <a href="#">Responsible Lending</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Website Policy</a>
                <a href="#">Feedback and Complaints</a>
            </section>  
            
            <section class="footer-nav">
                <h5>POPULAR SEARCHES</h5>
                <a href="#">Short term loans</a>
                <a href="#">Cash loans</a>
                <a href="#">Fast loans</a>
                <a href="#">Payday loans</a>
                <a href="#">Online loans</a>
            </section>  
            
        <section class="footer-nav">
                <h5>CLICK REFI</h5>
                <a href="#">About us</a>
                <a href="#">Media room</a>
                <a href="#">Careers at Nimble</a>
                <a href="#">Become an affiliate</a>
                <a href="#">Blog</a>
            </section> 
            
        <section class="footer-social">
                <a href="#" title="facebook" class="f-icon">&nbsp;</a>
                <a href="#" title="linkdin" class="link-icon">&nbsp;</a>
                <a href="#" title="twitter" class="t-icon">&nbsp;</a>
                <a href="#" title="you tube" class="u-icon">&nbsp;</a>        
        </section>  
        <div class="seperator">&nbsp;</div>                                                            
   </div><!--row fluid close-->
  
   <div class="row-fluid ">
     <!--<c:acfFooter ></c:acfFooter>-->
    <article class="col-xs-9 col-sm-12  col-md-9">
    <div class="row-fluid foot-article">
       <apex:outputText escape="false" value="{!cms_obj.acfDescription__c}"></apex:outputText>
      <!--  <p>Click Refi (Credit Representative 439889) is authorised under Click Refi Number 442372 which is licensed under the National Consumer Credit Protection Act 2009. Please click here to read our Credit Guide and here for our Privacy Policy. We will never sell your email address to any 3rd party or send you nasty spam. Promise. Find your dream home at Realestate.com.au or Domain.com.au or for independent information visit your local Real Estate Institute or the Real Estate Institute of Australia (REIA). We are members of the Mortgage &amp; Finance Assoc of Australia (MFAA) and Credit Ombudsman Service Ltd www.cosl.com.au. Our Property Valuation Reports are sourced from RP Data. The comparison rates are based on a loan amount of $150,000 over a loan term of 25 years. </p>

        <p>WARNING: This comparison rate is true only for the example given and may not include all fees and charges. Different terms, fees or other loan amounts might result in a different comparison rate. All applications for credit are subject to lender credit approval criteria. </p>
        
        <p>GENERAL ADVICE WARNING: Please note that any finance and insurance advice given is general advice only and does not take into account your individual objections, financial situation or needs. Before using this advice to decide whether to purchase any finance or insurance products, you should consider the appropriateness of it having regard to your personal circumstances, plus obtain current Product Disclose Statement for the insurance policy.</p>-->
    </div>
    </article>
    <aside class="col-xs-3 col-sm-12 col-md-3">
        <div class="mcafe-sec">
            <p>Online Security: Protect Against Fraud</p>
            <a href="#" class="mcafee">&nbsp;</a>
        </div>
    </aside><!--aside close-->
  </div><!--row fluid close-->
 </div><!--container close-->
</footer><!--footer close-->
</main>
</body>
</apex:form>
</apex:page>