<apex:component >
	<apex:attribute name="min" type="decimal" required="required" description="min value."/>
	<apex:attribute name="max" type="decimal" required="required" description="max value."/>
	<apex:attribute name="result" type="decimal" required="required" description="range."/>
	<apex:attribute name="objId" type="string" required="required" description="identity"/>

	<apex:includeScript value="{!URLFOR($Resource.vhc__Jquery_UI, 'Jquery_UI/js/jquery-1.7.2.min.js')}"></apex:includeScript>
	<apex:includeScript value="{!URLFOR($Resource.vhc__Jquery_UI, 'Jquery_UI/js/jquery-ui-1.8.21.custom.min.js')}"></apex:includeScript>
	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
	
	<script type="text/javascript">
		$(document).ready(function() {
			var value = $('.'+ '{!JSENCODE(objId)}'+'_input').val();
		 	var intvalue = Math.round(value);
		 	$('.'+ '{!JSENCODE(objId)}' + '_input').val(intvalue);
		});
		
		$(function() {
		
			var sliderClass = '.'+ '{!JSENCODE(objId)}' + '_slider';
			var sliderInputClass = '.'+ '{!JSENCODE(objId)}' + '_input';
			
			$(sliderClass).slider({
						range: 'min',
						step:1,
						min: {!min},
						max:{!max},
						value: {!result},
						slide: function(event, ui){
							$('.'+ '{!JSENCODE(objId)}' + '_val').text(ui.value);
							$(sliderInputClass).val(ui.value);
						}
			});
			
			$(sliderInputClass).keypress(function(e) {
				var key = e.charCode || e.keyCode || 0;
			    var IsNum = ((key >= 37 && key <= 40) || (key >= 48 && key <= 57));
				return IsNum;
			});
			
			 $(sliderInputClass).keyup(function(e) { 
			 	$(sliderClass).slider("value", [$(this).val()]);
			 });	
			 
			 $(sliderInputClass).blur(function(e) { 
			 	var curr = parseInt($(this).val());
			 	var min = parseInt('{!min}');
			 	var max = parseInt('{!max}');
					
				switch (true) {
					case (curr < min):
					case isNaN (curr): $ (this).val (min); break;
					case (curr > max): $ (this).val (max); break;
				}
			 });
		});
	</script>
	<style>
		.num_input{
			width:100%;
			margin: 0 auto;
			border:none;
			background-color:transparent;
		}
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {height: 17px !important;}
	</style>

	<div class="slider_all" style="width:167px;">
		<div class="rate">
			<apex:inputText value="{!result}" styleClass="{!JsInHTMLEncode(objId)}_input num_input" />
		</div> 
		<div style="position:relative;" > 
			<div class="min" style="float:left;">
				<apex:outputText value="{0, number, ###}"  styleClass="{!JsInHTMLEncode(objId)}_min">
					<apex:param value="{!min}"/>
				</apex:outputText>
			</div>
			<div style="float:left;left:12px;" class="{!objId}_slider slider"></div>
			<div class="max" style="float:right;position: absolute;right: -35px;">
				<apex:outputText value="{0, number, ###}" >
					<apex:param value="{!max}"/>
				</apex:outputText>
			</div>
			<div style="clear:both"> </div>
		</div>
	</div>
		
	
	<style>
		.slider{
			/*width:120px;*/
			width:175px;
		}
	</style>
</apex:component>